.menu {
    display: flex;
    background: rgb(194, 102, 212);
    
    .container1 {
        flex: 4;
        p {
            height: 50px;
            background-color: thistle;
            text-align: center;
            letter-spacing: 1.5px;
            font-size: 30px
        }
        .title {
            margin-top:-10px;
            background: black;
            padding-top: 15px;
            padding-bottom: 15px;
            font-size: 20px;
            color: rgb(237, 210, 241)
        }
        .audio {
            display: block;
            width: 100%;
        }
    }
    
    .container2 {
        flex: 4;     
        h1 {
            text-align: center;
            color: rgb(237, 210, 241);
            padding-top: 10px;
            padding-bottom: 20px;
            background:  rgb(63, 19, 61)
        }
        .click {
            font-size: 15px
        }
    }
}


